@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	margin: 0;
	padding: 0;
}


    header {
    background: #4a76a8;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

header .left {
    flex: 1;
}

header > div:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 18pt;
}

header > div:nth-child(3) {
    flex: 1;
}
    
    header a{
        color: white;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 18pt;
    }
    
    header a:hover{
		text-decoration: none;
    }


.container {
	max-width: 600px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card {
	background: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
	margin-top: 0;
	font-size: 18px;
	margin-bottom: 15px;
}

.info-row {
	margin-bottom: 10px;
	font-size: 16px;
}

.radio-group {
	margin-bottom: 10px;
}

.radio-group label {
	font-size: 15px;
	cursor: pointer;
}

.button-wrap{
	
	text-align: center;
}

.btn {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 18px;
	background: #4a76a8;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
	border: none;
}

.btn:hover {
	background: #3a5a85;
}

.danger {
	background: #d9534f;
}

.danger:hover {
	background: #c12e2a;
}

.message {
	background: #e6f7e6;
	color: #2b7a2b;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
	font-size: 14px;
}

/* 라디오 숨기기 */
input[type="radio"] {
  display: none;
}

/* label 디자인 */
input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  margin: 1px;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* hover 시 효과 */
input[type="radio"] + label:hover {
  border-color: #666;
}

/* 선택된 상태 */
input[type="radio"]:checked + label {
  background-color: #4a76a8;
  color: white;
  border-color: #4a76a8;
}