@charset "UTF-8";

body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }
    header {
    background: #4a76a8;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

header .left {
    flex: 1;
}

header > div:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 18pt;
}

header > div:nth-child(3) {
    flex: 1;
}
    
    header a{
        color: white;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 18pt;
    }
    
    header a:hover{
		text-decoration: none;
    }
	

	.info-row input, .info-row select {
	padding: 8px 12px;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 16px;
	transition: border-color 0.2s;
}

	
    .container {
        max-width: 600px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card {
        background: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .card h3 {
        margin-top: 0;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .info-row {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        background: #4a76a8;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
    }
    .btn2 {
        display: inline-block;
        margin-bottom: 10px;
        padding: 6px 12px;
        background: #4a76a8;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
    }
    .btn:hover {
        background: #3a5a85;
    }
    .danger {
        background: #d9534f;
    }
    .danger:hover {
        background: #c12e2a;
    }

    
    .fault {
	color: red;
	text-align: left;
}
	
	.modal {
	  display: none; /* 기본은 숨김 */
	  position: fixed; /* 화면 전체에 고정 */
	  z-index: 1000; /* 다른 요소 위에 표시 */
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0,0,0,0.4); /* 반투명 배경 */
	}
	
	.modal-content {
	  background: #fff;
	  padding: 20px;
	  width: 300px;
	  margin: 15% auto; /* 화면 중앙 */
	  border-radius: 10px;
	  text-align: center;
	  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	}

	
	.modal-buttons {
	  margin-top: 15px;
	  display: flex;
	  justify-content: space-around;
	}
	
	.info-row input, .info-row select {
		padding: 8px 12px;
		border-radius: 20px;
		border: 1px solid #ccc;
		font-size: 16px;
		transition: border-color 0.2s;
	}
	
	.info-row input:focus, .info-row select:focus {
		outline: none;
		border-color: #4a76a8;
	}
	

